body {
  background: #393e3e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
}

.signin-box {
  background: rgb(28, 26, 48);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(55, 154, 77, 0.1);
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #46c92c;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #2d2a2ac6;
  border-radius: 6px;
}

.form-group {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 0.9rem;
}

.submit-btn {
  width: 100%;
  background-color: #007bff;
  color: rgb(10, 1, 1);
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.success-message {
  color: green;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
